{{!-- navigation bar --}}
<nav class="navbar navbar-expand-lg fixed-top">
    {{!-- app name --}}
    <div class="navbar-brand">Barter Bud <i class="fas fa-sync-alt"></i></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {{!-- page links --}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="market">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="upload">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" method="GET" href="/logout">Logout</a>
                </li>
            </ul>
        </ul>
    </div>
</nav>

{{!-- list of availabe products for trade --}}
<div class="container">
    <div class="card-body">
        <h3 class="card-title market">Available</h3>
        <p>{{this.id}}</p>
        <ul>
            {{#each Upload}}
            {{#if available}}
            <b>Product Name: {{this.product_name}} </b> <br>
            <b>Condition: </b>{{this.condition}} <br>
            <b>Description: </b>{{this.description}} <br>
            <b>Image: </b><br><img src={{this.Image.url}} id="img" alt="no image uploaded" />
            <br>
            <form action="api/trade/{{id}}" method="POST">
                <button class="btn btn-danger float-right trade">trade</button>
            </form>
            <br><br>
            <hr>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
<script src="/js/trade.js"></script>